_build/
.merlin
\#*\#
.\#*
*~
*.bak
.coq-native/
builddep/
_opam
*.timing
.lia.cache
.nia.cache
.DS_store
.vscode/
**/case_studies/*/target
**/case_studies/*/log
**/case_studies/*/Cargo.lock
**/rustc-ice-*
